/*! HTML5 Boilerplate v5.0.0 | MIT License | http://h5bp.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
html {
  box-sizing: border-box;
  margin: 0 auto;
}

*, *:before, *:after {
  box-sizing: inherit;
}

/*Box model peek*/
/** {
  border: 1px solid #343634;
}*/


a {
  text-decoration: none;
  color: #343634;
}

body {
  font-family: 'league_gothicregular';
  font-weight: normal;
  font-style: normal;
  letter-spacing: 1px;
  font-size: 100%;
}

.nav_main {
  font-size:1em;
  position: relative;
  width: 83%;
  top: 90px;
  margin: 0 auto;
  margin-bottom: 150px;
  height: 35px;
}

/*nav_main>a>img {
  margin: 0;
}*/

.nav_main a {
/*  flex: 1 2 auto;*/
  color: #343634;
  height: 35px;
}

ul.nav {
  position: relative;
  top: -42px;
  left: 3px;
  text-align: right;
  height: 35px;
}

.nav_main li {
  position:relative;
  top: 0px;
  left: 0px;
  list-style-type:none;
  display:inline-block;
  margin: 0 0 0 1em;
  padding:0;
  overflow:hidden;
}

.nav_main span {
  position:absolute;
  bottom:0px;
  left:0;
  display:block;
  width:0;
  height:4px;
  background-color:transparent;
  z-index:2;
}

.nav_main li:hover span,.nav_main li.focus span,.nav_main li.selected span {
  width:100%;
  background-color:#45AAF3;
  z-index: -1;
}


#container {
  margin: 0 auto;
/*    top: 236px;*/
}

.portfolio {
  width: 280px;
  height: 280px;
  background-color: #45aaf3;
  margin-bottom: 20px;
}

.w1 {
  height: 280px;
}

.h1 {
  height: 280px;
}

.w2 {
  width: 580px;
}

.h2 {
  height: 430px;
}


.portfolio,.masonry img,.masonry a {
  display:block;
  font-size:15px;
  color:#343634;
}

.portfolio {
  margin-bottom:20px;
  overflow:hidden;
}

.portfolio>a>div *:last-child {
  margin-bottom:0;
}


.portfolio>a>div {
  position:absolute;
  top:53px;
  left:0;
  width:100%;
  height:100%;
  padding:30px;
  background:url(../img/blue_square.svg) 0 0 no-repeat;
  background-size:280px 227px;
  opacity:1;
/*  -webkit-transform:translate3d(0%, 0, 0);
  transform:translate3d(0%, 0, 0);
  -ms-transform:translateX(0%);
  -webkit-transition:1s all;
  transition:1s all;*/
}

/*.portfolio>a>div:nth-of-type(1) {
  background:url(../img/black_square.svg) 0 0 no-repeat;
}*/
.w2.h2>a>div{
  top:68px;
  background:url(../img/blue_large.svg) 0 0 no-repeat;
  background-size:580px 362px;
}

.black.w2.h2>a>div {
  background:url(../img/black_large.svg) 0 0 no-repeat;
  color: white;
}

.w1.h2>a>div {
  top:68px;
  background:url(../img/blue_long.svg) 0 0 no-repeat;
  background-size:580px 362px;
}


.masonry>h2 {
  font-style: normal;
  font-weight: 400;
  top: 8px;
  font-size: 1em;
  position: relative;
  letter-spacing: 1px;
/*  -webkit-transition:1s all;
  transition:1s all;*/
}

.portfolio>a>div .category {
  font-size:12px;
}

.portfolio>a>div div {
  position:absolute;
  bottom:70px;
  left:20px;
  padding-right:80px;
  opacity:1;
/*  -webkit-transition:.3s .1s all;
  transition:.3s .1s all;*/
}

.portfolio>a>div div p:first-child {
  position:relative;
  margin-bottom:0;
  top: 16px;
  font-size: 0.75em;
}

.portfolio.w1.h2>a>div {
  position:absolute;
  top:0;
  left:0;
  opacity:1;
/*  -webkit-transform:translate3d(0, 100%, 0);
  transform:translate3d(0, 100%, 0);*/
}

.portfolio.w1.h2>a>div {
  position:absolute;
  bottom:0;
  left:0;
  top:auto;
  right:auto;
  width:100%;
  height:auto;
  padding:0;
/*  -webkit-transform:translate3d(0px, 0px, 0px);
  transform:translate3d(0px, 0px, 0px);
  background-image:none;color:#3e3e3e !important;*/
}

/*.portfolio.w2.h2>a>div div {
  position:relative;
  top:0;
  left:0;
  bottom:0;
  opacity:1;
  padding:0;
}

.portfolio.w2.h2>a>div div p:first-child {
  position:relative;
  margin-bottom:0;
}*/
div.nav_portfolio {
  width: 83%;
  text-decoration: none;
  position: relative;
  top: 0;
  margin: 0 auto;
}

.categories li {
  display: inline-block;
  color: #343634;
}

/* ==========================================================================
   MEDIA QUERIES!
   ========================================================================== */

@media only screen and (max-width: 480px), only screen and (max-device-width: 480px) {
  .nav_main {
    position: relative;
    width: 90%;
    top: 45px;
    margin: 0 auto;
    margin-bottom: 37.5px;
    font-size:1.25em;
  }

  ul.nav {
  position: relative;
  top: 0px;
  /* bottom: 0; */
  left: -80px;
  text-align: right;
  height: 35px;
  margin-bottom: 50px;
  }

  .nav_main li {
      position:relative;
      list-style-type:none;
      display:inline-block;
      margin:0 0.75em 1em 0;
      padding:0;
      overflow:hidden;
  }

}




/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers:
 * http://juicystudio.com/article/screen-readers-display-none.php
 */

.hidden {
    display: none !important;
    visibility: hidden;
}

/*
 * Hide only visually, but have it available for screen readers:
 * http://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-o-min-device-pixel-ratio: 5/4),
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   http://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster:
                                   http://www.sanbeiji.com/archives/953 */
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
